<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.truevalue.dreamappeal">

    <!--인터넷 설정-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--내부 스토리지 권한 설정-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--카메라 권한 설정-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--android:usesCleartextTraffic="true" http url 강제 고정-->

        <!-- 화면 세로 고정 : android:screenOrientation="portrait"-->

        <activity android:name=".activity.ActivityIntro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityLogin"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityMain"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.profile.ActivityDreamTitle"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityDreamDescription"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityMeritAndMotive"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityDreamList"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityCommentDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.profile.ActivityAddAchivement"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityBestAchivementDetail"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityGalleryCamera"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityAbilityOpportunity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityObjectStep"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.profile.ActivityRecentAchivementDetail"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityAddContents"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.profile.ActivityActionPost"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityAddActionPost"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityPermission"
            android:screenOrientation="portrait"/>

    </application>

</manifest>